$yellow: #e6d119;
$green: #8af06c;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;    
}

.jumbotron {
    background-color: $green;
    color: black;
    @include margenes(50px, 0px);
}
.breadcrumb{
    background-color: $green;
    
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $green;
    @include margenes(10px, 0px);    
}

.btn-pie {
    width: 100%;
    margin-block-end: 0px;
}

.btn-comprar {
    width: 90%;
    margin-block-end: 10px;
}

.card-articulos{
    flex: 1 100px; 
    @include margenes(10px, 0px);
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}