.jumbotron {
  background-color: #8af07c;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.breadcrumb {
  background-color: #8af07c; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #8af07c;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-pie {
  width: 100%;
  margin-block-end: 0px; }

.btn-comprar {
  width: 90%;
  margin-block-end: 10px; }

.card-articulos {
  flex: 1 100px;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
